# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# --- Virtual Environments ---
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/






# --- Environment files ---
.env
*.env


